// Colors

$color-primary-green: #ACC6AA;
$color-primary-dk-green: #7aaa77;

$color-primary-blue: #71A0A5;
$color-primary-dk-blue: #568388;

$color-primary-purple: #77628C;
$color-primary-dk-purple: #5f4e70;

$color-pink: #C08497;

$color-primary-grey: #777;
$color-primary-grey-2: #999;
$color-dk-grey: #444;
$color-dk-grey-2: #666;
$color-primary-white: #EEEEEE;
$color-black: #000;
$color-white: #ffffff;
$color-grey-light-1: #f7f7f7;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font

$default-font-size: 1.6rem;

